<h1>All Posts</h1>

<ul id="post">
  <% @posts.each do |post| %>
    <li>
    <% if signed_in? %>
    <span class="author">Author: <%= post.user.name %></span>
    <% else %>
      <span class="author">Author: <div class="red">[hidden from non-members]</div></span>
    <% end %><br>
    <span> Title: <%= post.title %></span><br>
    <span>Text: <%= post.body %> </span>
    </li>
  <% end %>
</ul>
