<footer class="footer">
  <small>
    The <a href="#">Members Only App</a>
    by <a href="">Grace and Yemre</a>
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   '#' %></li>
      <li><%= link_to "Contact", '#' %></li>
      <li><a href="#">News</a></li>
    </ul>
  </nav>
</footer>